<header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>{NK}</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>{{@appname}}</b>Sample</span>
    </a>
 
    {{> page/nav}}
 
</header>