<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/avatar-peer02.svg" class="img-circle nkchat-current-avatar" alt="User Image">
            </div>
            <div class="pull-left info">
                <p class="nkchat-current-user">Sample User User</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- Add Room form -->

        <div class="sidebar-form">
            <div class="input-group">
                <input id="nkchat-create-room-input" type="text" class="form-control" placeholder="Create Room...">
                <span class="input-group-btn">
        <button type="submit" name="create" id="nkchat-create-room-button" class="btn btn-flat"><i class="fa fa-plus"></i></button>
        </span>
            </div>

        </div>
        
        <!-- /.Add Room form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">ROOMS</li>
        </ul>
        <ul id="nkchat-room-list" class="sidebar-menu">
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-hashtag"></i><span>Public</span>
                    <small class="label pull-right bg-green">public</small>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>