<div class="wrapper">

    {{> page/header}}

    {{> page/mainsidebar-left}}

    {{> page/maincontent-chat}}

    {{> page/footer}}

    {{> page/mainsidebar-right}}
    
</div>

{{> page/scripts}}
