<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{@appname}} | Sample</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="theme/css/theme.min.css">
    <link rel="stylesheet" href="theme/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="theme/css/nkchat.css">
</head>

<body class="hold-transition skin-red sidebar-mini">
    
    {{{body}}}
    
</body>

</html>